@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "IranSans";
  src: url("../public/fonts/YekanBakhFaNum-Regular.ttf")
  format("woff2"),
  url("../public/fonts/YekanBakhFaNum-Regular.ttf")
  format("woff");
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  direction: rtl !important;
  background: var(--background);
  color: var(--foreground);
  font-family: "IranSans" !important;
}
