@import "tailwindcss";

:root {
  --background: #0A1F44;
  --foreground: #FF6B00;
}

@font-face {
  font-family: "IranSans";
  src: url("../public/fonts/YekanBakhFaNum-Regular.ttf")
  format("woff2"),
  url("../public/fonts/YekanBakhFaNum-Regular.ttf")
  format("woff");
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  direction: rtl !important;
  background: var(--background);
  color: var(--foreground);
  font-family: "IranSans" !important;
}
